<div class="row">
  <div class="col-3">
    <h4>Search parameters</h4>
    <%= form_with scope: 'audios', method: :get do |f| %>
      <div class="form-group">
        <%= f.label :manager, 'Audio manager:' %>
        <%= f.select :manager, options_from_collection_for_select(%w[vk], :to_s, :capitalize), {}, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :type, 'Request type:' %>
        <%= f.select :type, options_from_collection_for_select(%w[auto playlist audios post find wall artist], :to_s, :capitalize), {}, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :query, 'Query:' %>
        <%= f.text_field :query, class: 'form-control', placeholder: 'URL or search query', autocomplete: 'off' %>
      </div>
      <%= f.submit 'Load', class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="col-8 col-offset-1">
    <h4>Audios</h4>
    <% if @audios.present? %>
      <% @audios.each do |el| %>
        <%= render_audio_item(el) %>
      <% end %>
    <% else %>
      <span>Nothing found</span>
    <% end %>
  </div>
</div>
