<h1><%= t('.admin_features') %></h1>
<h3><%= t('.donation_id') %></h1>

<%= form_with scope: 'donation', url: admin_donation_id_path, local: true, method: :get do |f| %>
  <div class="form-group">
    <%= f.label :id, t('.donation_id_label') %>
    <%= f.text_field :id, class: 'form-control', value: @id, autocomplete: 'off' %>
  </div>
  <div class="row">
    <div class="form-group col">
      <%= f.label :user_id, t('.user_id_label') %>
      <%= f.number_field :user_id, class: 'form-control', value: @user_id, autocomplete: 'off' %>
    </div>
    <div class="form-group col">
      <%= f.label :server_id, t('.server_id_label') %>
      <%= f.number_field :server_id, class: 'form-control', value: @server_id, autocomplete: 'off' %>
    </div>
  </div>
  <%= f.submit t('.convert_button'), method: :post, class: 'btn btn-primary' %>
<% end %>
