<h1><%= t('.admin_features') %></h1>

<ul>
  <li><%= link_to t('.donation_id'), admin_donation_id_path %></li>
  <li><%= link_to t('.jwt_token'), admin_jwt_token_path %></li>
  <li><%= link_to t('.audios'), admin_audios_path %></li>
  <li><%= link_to t('.websocket_server'), admin_websocket_server_path %></li>
  <li><%= link_to t('.donation_adder'), admin_donation_adder_path %></li>
  <li><%= link_to t('.command_executor'), admin_command_executor_path %></li>
  <li><%= link_to t('.vk_cookies'), admin_vk_cookies_path %></li>
</ul>
