<h1>Admin features</h1>
<h3>Websocket server</h1>

<%= form_with method: :post, local: true do |f| %>
  <div class="row mt-5">
    <div class="col-12 col-sm-4 col-md-3">
      <div class="btn-group-vertical w-100 mb-4">
        <%= f.button name: 'websocket_server[action]', value: 'reload', class: 'btn btn-primary', data: {} do %>
          <span>Reload data</span>
          <span class="float-right ml-3"><%= fa_icon 'sync' %></span>
        <% end %>
        <%= f.button name: 'websocket_server[action]', value: 'update_data', class: 'btn btn-default', data: {} do %>
          <span>Update data</span>
          <span class="float-right ml-3"><%= fa_icon 'retweet' %></span>
        <% end %>
        <%= f.button name: 'websocket_server[action]', value: 'disconnect', class: 'btn btn-danger', data: { confirm: 'Are you sure?' } do %>
          <span>Disconnect</span>
          <span class="float-right ml-3"><%= fa_icon 'sign-out-alt' %></span>
        <% end %>
        <%= f.button name: 'websocket_server[action]', value: 'restart', class: 'btn btn-danger', data: { confirm: 'Are you sure?' } do %>
          <span>Restart</span>
          <span class="float-right ml-3"><%= fa_icon 'sign-out-alt' %></span>
        <% end %>
        <%= f.button name: 'websocket_server[action]', value: 'stop', class: 'btn btn-danger', data: { confirm: 'Are you sure?' } do %>
          <span>Stop</span>
          <span class="float-right ml-3"><%= fa_icon 'sign-out-alt' %></span>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-sm-8 offset-md-1">
      <div class="card">
        <div class="card-header">
          <p>
            Amount of shards:
            <b><%= ActionCable.server.connections.size %></b>
          </p>
          <p>
            Amount of servers:
            <b><%= ActionCable.server.connections.sum { |c| c.current_shard.servers_count.to_i } %></b>
          </p>
          <p>
            Amount of cached servers:
            <b><%= ActionCable.server.connections.sum { |c| c.current_shard.cached_servers_count.to_i } %></b>
          </p>
          <p>
            Amount of active servers:
            <b><%= ActionCable.server.connections.sum { |c| c.current_shard.active_servers_count.to_i } %></b>
          </p>
        </div>
        <table class="card-body table table-striped table-bordered mb-0">
          <thead class="text-center">
            <tr>
              <td rowspan=2 class="align-middle">Shards</td>
              <td colspan=3>Server counts</td>
            </tr>
            <tr>
              <td>Total</td>
              <td>Cached</td>
              <td>Active</td>
            </tr>
          </thead>
          <tbody>
            <% ActionCable.server.connections.each do |c| %>
              <tr>
                <td>
                  <div class="custom-control custom-checkbox">
                    <%= f.check_box 'websocket_server[clients]', { multiple: true, checked: true, class: 'custom-control-input' }, c.current_shard.identifier, nil %>
                    <label class="custom-control-label" for="websocket_server[clients]_<%= c.current_shard.identifier %>"><%= c.current_shard.identifier %></label>
                  </div>
                </td>
                <td><%= c.current_shard.servers_count %></td>
                <td><%= c.current_shard.cached_servers_count %></td>
                <td><%= c.current_shard.active_servers_count %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
