<!DOCTYPE html>
<html>
  <head>
    <title><%= 'DEV | ' if Rails.env.development? %><%= t('.dusic') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'layouts/application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'layouts/application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="page">
      <div class="page__header">
        Navigation bar
      </div>
      <div class="page__content">
        Content
        <%= yield %>
      </div>
      <div class="page__footer">
        Footer
      </div>
    </div>
  </body>
</html>
