<!DOCTYPE html>
<html>
  <head>
    <title><%= 'DEV | ' if Rails.env.development? %><%= t('.dusic') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'layouts/application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'layouts/application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="page">
      <div class="page__fixed-top">
        <%= render 'layouts/application/alert', class: 'alert_danger', content: alert %>
        <%= render 'layouts/application/alert', class: 'alert_primary', content: notice %>
      </div>
      <div class="page__header">
        <div class="page__header-logo"></div>
      </div>
      <div class="page__content container">
        <%= yield %>
      </div>
      <div class="page__footer container">
        FOOTER TEXT
      </div>
    </div>
  </body>
</html>
