<!DOCTYPE html>
<html>
  <head>
    <title><%= 'DEV | ' if Rails.env.development? %><%= t('.dusic') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'layouts/application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'layouts/application', 'data-turbolinks-track': 'reload' %>

    <%= yield :packs %>
  </head>

  <body>
    <div class="application">
      <div class="application__fixed-top">
        <%= render 'layouts/application/alert', class: 'alert_danger', content: alert %>
        <%= render 'layouts/application/alert', class: 'alert_primary', content: notice %>
      </div>
      <div class="application__header">
        <a href="/"><div class="application__header-logo"></div></a>
      </div>
      <div class="application__content container">
        <%= yield %>
      </div>
      <div class="application__footer application-footer container">
        <div class="application-footer__section">
          <div class="application-footer__section-title"><%= t('.support') %></div>
          <div class="application-footer__section-point">
            <%= link_to t('.vk_group'), ApplicationHelper::VK_GROUP_URL, class: 'application-footer__section-link' %>
          </div>
          <div class="application-footer__section-point">
            <%= link_to t('.discord_server'), ApplicationHelper::DISCORD_SERVER_URL, class: 'application-footer__section-link' %>
          </div>
        </div>
        <div class="application-footer__section">
          <div class="application-footer__section-title">
            <%= t('.about_the_bot') %>
          </div>
          <div class="application-footer__section-point">
            <%= link_to t('.invite_to_server'), ApplicationHelper::BOT_INVITE_URL, class: 'application-footer__section-link' %>
          </div>
          <div class="application-footer__section-point">
            <%= link_to t('.source_code'), ApplicationHelper::SOURCE_CODE_URL, class: 'application-footer__section-link' %>
          </div>
        </div>
        <div class="application-footer__year-section">
          <%= Date.current.year %>, <%= t('.dusic') %>
        </div>
      </div>
    </div>
  </body>
</html>
